@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0b0b0b;

  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-d-header.is-open .o-d-header-background {
  left: 0;
}
.o-d-header-button-wrapper {
  margin-left: auto;
}
.o-d-header-icon {
  display: none;
}

.o-d-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-d-navigation-list.is-open {
  right: 0;
}
.o-d-header-icon-menu {
  display: block;
}

.o-d-header-icon-button.is-open .o-d-header-icon-menu {
  display: none;
}

.o-d-header-icon-button.is-open .o-d-header-icon-close {
  display: block;
}

.o-d-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 62px;
  background: #0b0b0b;

  border-bottom: 1px solid #72c0ff33;
  box-shadow: 0px -1px 20px 0px #72c0ff6b;
}

.o-d-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #0b0b0b;
}
.o-d-header.is-open .o-d-header-background {
  left: 0;
}
.o-d-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-d-header-icon-menu {
  display: block;
}

.o-d-header-icon-button.is-open .o-d-header-icon-menu {
  display: none;
}

.o-d-header-icon-button.is-open .o-d-header-icon-close {
  display: block;
}

.o-d-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 37px;
  position: relative;
}

.o-d-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 0px;

  gap: 40px;
  background: #0b0b0b;
}

.o-d-navigation-list.is-open {
  right: 0;
}

.o-d-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.o-d-navigation-link:hover,
.o-d-navigatioт-link:focus {
  color: #72c0ffcc;
}

.o-d-header.is-open {
  background-color: transparent;
}

.o-d-navigation-img {
  display: none;
}

@media screen and (min-width: 1195px) {
  .o-d-navigation-img {
    display: block;
    margin-right: 530px;
  }
  .o-d-policy-terms-header-icon-menu {
    display: none;
  }
  .o-d-header-button-wrapper {
    display: none;
  }
  .o-d-header {
    width: 100%;
    height: 91px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-d-header-icon-button {
    display: none;
  }
  .o-d-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 56px;
    margin: auto;
  }

  .o-d-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-d-navigation-link {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .o-d-navigation-item-desk {
    display: none;
  }
}

.o-d-home {
  margin: auto;
  width: 375px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero.png");
}
.o-d-home-container {
  width: 375px;
  height: 751px;

  padding: 64px 21px 0px;
  margin: auto;
}

.o-d-home-title {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  leading-trim: NONE;
}

.o-d-home-text {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  padding: 10px 0 30px;
}
.o-d-home-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  color: #ffffff99;

  width: 261px;
}
.o-d-home-text-three {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  padding: 20px 0 10px;
}
.o-d-home-text-list {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  color: #ffffff99;
  padding-left: 10px;
}
@media screen and (min-width: 1195px) {
  .o-d-home {
    width: auto;

    background-image: url("/img/Hero\ \(1\).png");
  }
  .o-d-home-container {
    width: 1440px;
    height: 933px;

    padding: 137px 857px 0px 52px;
    margin: auto;
  }

  .o-d-home-title {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    leading-trim: NONE;
  }

  .o-d-home-text {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    leading-trim: NONE;

    padding: 10px 0 50px;
  }
  .o-d-home-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29px;
    letter-spacing: 0%;

    width: 497px;
  }
  .o-d-home-text-three {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

    padding: 30px 0 10px;
  }
  .o-d-home-text-list {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29px;
    letter-spacing: 0%;
  }
}
.o-d-about {
  margin: auto;
  padding-top: 50px;
}
.o-d-about-container {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/The\ Concept.png");
  padding: 80px 19px 0px;
  margin: auto;
}
.o-d-about-title {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  leading-trim: NONE;
  text-align: center;
}
.o-d-about-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff99;
}

@media screen and (min-width: 1195px) {
  .o-d-about {
    margin: auto;
    padding-top: 100px;
  }
  .o-d-about-container {
    width: 1440px;
    height: 445px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/The\ Concept\ \(1\).png");
    padding: 0px 116px 0px 660px;
    margin: auto;
  }
  .o-d-about-title {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    leading-trim: NONE;
  }
  .o-d-about-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29px;
    letter-spacing: 0%;

    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #ffffff99;
  }
}
.o-d-why {
  margin: auto;
  padding-top: 50px;
}

.o-d-why-container {
  width: 375px;
  height: 733px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ Play.png");
  margin: auto;
  padding: 30px 0;
}
.o-d-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 10px;
}
.o-d-why-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 306px;
  height: 94px;
  padding: 0px 56px 0 29px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: url("/img/Frame\ 14.png");
}

.o-d-why-text-bold {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  text-align: left;
}
.o-d-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  color: #ffffff99;
}
.o-d-why-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  text-align: center;
  color: #ffffff99;
  padding: 183px 20px 0;
}
@media screen and (min-width: 1195px) {
  .o-d-why {
    margin: auto;
    padding-top: 100px;
  }

  .o-d-why-container {
    width: 1440px;
    height: 725px;

    background-image: url("/img/How\ to\ Play\ \(1\).png");
    margin: auto;
    padding: 0px 175px 0 175px;
  }
  .o-d-why-list {
    padding: 60px 10px 10px 10px;
    display: flex;
    flex-direction: column;

    align-items: start;
    gap: 10px;
  }
  .o-d-why-item {
    width: 538px;
    height: 115px;

    padding: 0px 50px 0;

    background-image: url("/img/Frame\ 14.png");
  }

  .o-d-why-text-bold {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    leading-trim: NONE;
  }
  .o-d-why-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29px;
    letter-spacing: 0%;
  }
  .o-d-why-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;

    padding: 30px 215px 0;
  }
}

.o-d-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 50px 37px 0;
}
.o-d-uniqueness-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.o-d-uniqueness-item {
  height: 115px;
  padding: 0 20px 0 30px;
}

@media screen and (min-width: 1195px) {
  .o-d-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 155px 0;
  }
  .o-d-uniqueness-list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 41px;
  }
  .o-d-uniqueness-item {
    height: 115px;
    padding: 0 40px 0 50px;
  }
  .o-d-uniqueness-item-two {
    padding-right: 0;
  }
}

.o-d-faq-container {
  padding: 50px 12px 69px;
  width: 375px;
  margin: auto;
}
.o-d-faq-list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.o-d-faq-item {
  width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/Frame\ 15.png");
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 11px 8px;
}

.o-d-faq-question {
  font-family: Space Grotesk;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
}

.o-d-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  color: #ffffff99;
}
@media screen and (min-width: 1195px) {
  .o-d-faq-container {
    padding: 100px 202px;
    width: 1440px;
    margin: auto;
  }
  .o-d-faq-list {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .o-d-faq-item {
    width: 1036px;
    padding: 11px 50px 15px;
  }

  .o-d-faq-question {
    font-family: Space Grotesk;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
  }

  .o-d-faq-answer {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29px;
    letter-spacing: 0%;
  }
}

.o-d-policy-terms-container {
  padding: 124px 16px 50px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
}

.o-d-policy-terms-container h1 {
  margin-bottom: 53px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  leading-trim: NONE;
  text-align: center;
  letter-spacing: -4%;
}
.o-d-policy-terms-container h2 {
  margin: 30px 0 10px;
  font-family: Inter;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 16px;
  leading-trim: NONE;
}
.o-d-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}
.o-d-policy-terms-container ol {
  list-style-type: decimal;
  margin-left: 20px;
}
.o-d-policy-terms-container ul li a {
  color: #ffffff;

  text-decoration: underline;

  color: #ffffff;
}
.o-d-email-link {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 1195px) {
  .o-d-policy-terms-container {
    padding: 186px 40px 100px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .o-d-policy-terms-container h1 {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    leading-trim: NONE;
    margin-bottom: 32px;
    letter-spacing: -4%;
  }
  .o-d-policy-terms-container h2 {
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.o-d-footer-container {
  width: 375px;
  padding: 25px 23px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.o-d-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.o-d-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 29.25px;
  letter-spacing: 0px;
  text-align: center;
  color: #cbd5e1;
}

.o-d-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 29.25px;
  letter-spacing: 0px;
  text-align: center;
}
.o-d-footer-copyright-two {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #cbd5e1;
  padding-top: 20px;
}

@media screen and (min-width: 1195px) {
  .o-d-footer-container {
    width: 1440px;
  }

  .o-d-footer-wrapper {
    gap: 50px;
  }

  .o-d-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29.25px;
    letter-spacing: 0px;
    text-align: center;
  }

  .o-d-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29.25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .o-d-footer-copyright-two {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29.25px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }
}
